ACCESS_TOKEN_EXPIRE_MINUTES=30
ALLOWED_ORIGINS=http://localhost:3000,http://172.20.10.3:3000
ALGORITHM=HS256
GROQ_API_KEY=
MAIL_PASSWORD=
MONGO_URI=
MONGO_URI_2=
ENV=development
PM_TRACKER_INVITE_CODE=1234df
PM_TOKEN_EXPIRE_MINUTES=pde
SECRET_KEY=changeme-generate-with-openssl-rand-hex-32
